<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);">
  <div class="container">
    <h1>Save any kind of movies</strong>!</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container-index">
  <div class="cards-container">
      <div class="container-header">
        <h1>My Lists</h1>
        <%# <div class="botton-index">
          <%= link_to "Add a new list", new_list_path, class: "btn btn-success" %>
        <%# </div> %>
      </div>
  </div>

      <div class="cards">
        <% @lists.each do |list| %>
          <% if list.photo.key %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path list.photo.key %>)">
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= list.picture %>)">
          <% end %>
                <div class="card-content-index">
                  <div class="card-text">
                    <%= link_to list.name, list_path(list) %>
                  </div>
                  <div class="list-delete">
                    <%= link_to "Delete",  list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"ms-3 text-danger" %>
                  </div>
                </div>
            </div>
        <% end %>
      </div>
      <div class="flat-form form-container-index">
        <h2>Create a New List</h2>
        <div class="form">
            <%= simple_form_for List.new do |r| %>
            <%= r.input :name %>
            <%= r.input :picture, :label => "Picture URL" %>
            <%= r.input :photo, as: :file %>
            <%= r.button :submit, class: "btn btn-primary" %>
            <% end %>
        </div>
  </div>
</div>
