<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to image_tag("popcorn.png"), lists_path, class: "navbar-brand" %>
    <%# <a class="navbar-brand" href="#">
      <%= image_tag "popcorn.png" %>
    <%# </a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My lists", lists_path, class: "nav-link" %>
            <%# <a class="nav-link" href="#">Home</a> %>
          </li>
          <%# <li><%= link_to "New List", new_list_path, class: "nav-link"</li>  %>
          <li class="nav-item dropdown">
            <%# <%= image_tag "popcorn.png", class: "avatar dropdown-toggle", id: "navbarDropdown" %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://ca.slack-edge.com/T02NE0241-U03PQPPGXUG-abbe6fa51dcc-512" />
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
